<html ng-app="app" ng-controller="con">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel="stylesheet" href="css/reset.css">

    
        <link rel="stylesheet" href="css/style.css">
<script>
var app = angular.module("app",[]);

	

app.controller("con",function($scope){
    $scope.upCount =  0;
    $scope.downCount =  0;
	
	
	  $scope.getDate = function() {
      
	  var date_2 = new Date();
	  
	  $scope.Full_Date=date_2;
	  
	  $scope.DD       = date_2.getDate();     
      $scope.MM       = date_2.getMonth() + 1; 
      $scope.YY     = date_2.getFullYear(); 
	  
	  
      
	  $scope.MM_T     = date_2.getMinutes();
      $scope.SS       = date_2.getSeconds();
	  $scope.weekDay  = date_2.getDay();
	  
	  
	  
	  if($scope.HR_FORMAT_24) 
			{$scope.HH       = date_2.getHours();}
	  else
			{$scope.HH       = date_2.getHours()-12;}
	  
		
		date_2=$scope.Full_Date;
		
		/*console.log("Full_Date"+$scope.Full_Date);
		console.log("DD="+$scope.DD);
		console.log("MM="+$scope.MM);
		console.log("YYYY="+$scope.YY);
		console.log("HH="+$scope.HH);
		console.log("MM_T="+$scope.MM_T);
		console.log("SS="+$scope.SS);
		console.log("weekDay="+ $scope.weekDay);
		 */
    }
	
	 $scope.changeClass = function(n){
      console.log(this);
	
  };

	  
});

app.directive('ngMouseWheelUp', function() {
        return function(scope, element, attrs) {
            element.bind("DOMMouseScroll mousewheel onmousewheel", function(event) {
                   
            	        // cross-browser wheel delta
            	        var event = window.event || event; // old IE support
            	        var delta = Math.max(-1, Math.min(1, (event.wheelDelta || -event.detail)));
            	
            	        if(delta > 0) {
                            scope.$apply(function(){
                                scope.$eval(attrs.ngMouseWheelUp);
                            });
                        
                            // for IE
                            event.returnValue = false;
                            // for Chrome and Firefox
                            if(event.preventDefault) {
                            	event.preventDefault();                        
                            }

                        }
            });
        };
});


app.directive('ngMouseWheelDown', function() {
        return function(scope, element, attrs) {
            element.bind("DOMMouseScroll mousewheel onmousewheel", function(event) {
                   
            	        // cross-browser wheel delta
            	        var event = window.event || event; // old IE support
            	        var delta = Math.max(-1, Math.min(1, (event.wheelDelta || -event.detail)));
            	 //console.log(typeof(date_2));
		 
            	        if(delta < 0) {
                            scope.$apply(function(){
                                scope.$eval(attrs.ngMouseWheelDown);
                            });
                        
                            // for IE
                            event.returnValue = false;
                            // for Chrome and Firefox
                            if(event.preventDefault)  {
                            	event.preventDefault();
                            }

                        }
            });
        };
});
 
 

</script>
  <defs>
  <style>
     .cls-1 {
        fill: none;
      }
	  .cls-2 {
        fill: none;
      }

      .cls-3 {
        font-size: 12px;
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
		opacity: 0.8;
		fill: #FFFFFF;
      }
	  .on_focus{
        font-size: 12px;
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
        opacity: 1;
		fill: #000000;
		
				
      }
	  .on_focus_2{
        font-size: 12px;
        font-family: Arial-BoldMT, Arial;
        font-weight: 700;
        opacity: 1;
		fill: #000000;
		
				
      }

      .cls-4 {
        letter-spacing: -0.06em;
      }
	  .MM_T {
        fill: #9BAFBE;
      }
	  .SS {
        fill: url(#SS_G);
      }
	  .HH {
        fill: #7387A0;
      }
	  .DD {
        fill: url(#DD_G);
      }
	  .MM {
        fill: #AAAA96;
      }
	  .YY {
        fill: url(#YY_G);
      }
	  .YY_text {
        font-family: Arial-BoldMT, Arial;
        font-size: x-small;
		font-weight: 700;
      }
    </style>
	
		
					
  </defs>
<body>

<div ng-app="app" ng-controller="con"  class="bubbles">



	<svg  style="border:none" viewbox="-300 10 1400 1400">
<defs>
		<radialGradient id="grad2" cx="50%" cy="50%" r="60%" fx="50%" fy="50%">
					  <stop offset="0%" style="stop-color:#45d1ff;stop-opacity:1" />
					  <stop offset="100%" style="stop-color:#009999;stop-opacity:1" />
		</radialGradient> 
		<radialGradient id="SS_G" cx="50%" cy="50%" r="70%" fx="50%" fy="50%">
					  <stop offset="0%" style="stop-color:rgb(0,0,0);stop-opacity:1" />
					  <stop offset="100%" style="stop-color:#BECDD7;stop-opacity:1" />
		</radialGradient> 
		<radialGradient id="DD_G" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
					  <stop offset="0%" style="stop-color:rgb(0,0,0);stop-opacity:1" />
					  <stop offset="100%" style="stop-color:#D7D7CD;stop-opacity:1" />
		</radialGradient>
		<radialGradient id="YY_G" cx="50%" cy="50%" r="70%" fx="30%" fy="30%">
					  <stop offset="0%" style="stop-color:rgb(50,50,50);stop-opacity:1" />
					  <stop offset="100%" style="stop-color:cyan;stop-opacity:1" />
		</radialGradient> 
		<radialGradient id="BUBB" cx="50%" cy="50%" r="50%" fx="50%" fy="10%">
					  <stop offset="0%" style="stop-color:rgb(255,255,255);stop-opacity:1" />
					  <stop offset="100%" style="stop-color:rgb(0,0,0);stop-opacity:0" />
		</radialGradient> 
		
		
</defs>
	
	<!--<line x1="400" y1="0" x2="400" y2="800" stroke-width="1" stroke="grey"/>
	<line x1="0" y1="400" x2="800" y2="400" stroke-width="1" stroke="grey"/> -->

		<!-- <g transform = "rotate({{DD}} 400 400)" >  //translate(200 200)
			
			<text x = "300" y = "300">{{DD}}</text>
			<rect x = "350" y = "350" width = "100" height = "100" fill = "tomato" stroke = "lightgreen" stroke-width = "2" />
		
		</g> -->
		
		<!-- Below is YY Seconds  -->
		
		<!-- <g transform = "translate(50 50) rotate({{5*YY}} 350 350)" ng-mouse-wheel-up="YY=YY+1" ng-mouse-wheel-down="YY=YY-1">
      
        <path class="YY" d="M437,751.5A343.84,343.84,0,0,1,301.5,723.85,354.27,354.27,0,0,1,115.14,537.49a343.8,343.8,0,0,1-27.64-135H437l0-1L88.87,371c7.71-86.66,47.59-167,112.34-226.35S349.82,52.5,437,52.5h0A343.83,343.83,0,0,1,572.5,80.15,354.26,354.26,0,0,1,758.86,266.51a345.82,345.82,0,0,1,0,271A354.3,354.3,0,0,1,572.49,723.85,343.8,343.8,0,0,1,437,751.5Z" transform="translate(-86.99 -51.99)"/>
        <path d="M437,53A343.33,343.33,0,0,1,572.3,80.61,353.77,353.77,0,0,1,758.4,266.71a345.34,345.34,0,0,1,0,270.59A353.77,353.77,0,0,1,572.29,723.4a345.34,345.34,0,0,1-270.59,0A353.77,353.77,0,0,1,115.6,537.29,343.31,343.31,0,0,1,88,403H437l.09-2L89.42,370.58C97.22,284.24,137,204.17,201.55,145,266.33,85.69,350,53,437,53m0-1C256.49,52,104.07,191.65,88.33,371.49L437,402H87c0,192,158,350,350,350S787,594,787,402,629,52,437,52Z" transform="translate(-86.99 -51.99)"/>
     
      <rect class="cls-2" x="0.01" y="0.01" width="700" height="700"/>
    
    <text class="YY_text" transform="translate(7.1 311.97) rotate(8)" ng-click="YY=2052" >2052</text>
    <text class="YY_text" transform="translate(7.34 361.33)" ng-click="YY=1900" >1900</text>
    <text class="YY_text" transform="translate(675.67 340.01)" ng-click="YY=2016" >2016</text>
  </g> -->
		
		    <g transform = "rotate({{5*YY}} 400 400)" ng-mouse-wheel-up="YY<2052?YY=YY+1:YY=2052" ng-mouse-wheel-down="YY>1981?YY=YY-1:YY=1981">
			<circle class="YY" cx="400" cy="400" r="380" stroke="white" stroke-width="1"  /> 
						

           <!-- <text class="{{YY==1980?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1980"  style="opacity:{{YY==1980?1:0.2}}" transform="rotate(180 400 400)" >1980</text> -->

			<text class="{{YY==1981?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1981"   transform="rotate(175 400 400)" >1981</text>
			<text class="{{YY==1982?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1982"   transform="rotate(170 400 400)" >1982</text>
			<text class="{{YY==1983?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1983"   transform="rotate(165 400 400)" >1983</text>
			<text class="{{YY==1984?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1984"   transform="rotate(160 400 400)" >1984</text>
			<text class="{{YY==1985?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1985"   transform="rotate(155 400 400)" >1985</text>
			<text class="{{YY==1986?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1986"   transform="rotate(150 400 400)" >1986</text>
			<text class="{{YY==1987?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1987"   transform="rotate(145 400 400)" > 1987</text>
			<text class="{{YY==1988?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1988"   transform="rotate(140 400 400)" > 1988</text>	
			<text class="{{YY==1989?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1989"   transform="rotate(135 400 400)" > 1989</text>
							
			<text class="{{YY==1990?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1990"   transform="rotate(130 400 400)" >1990</text>
			<text class="{{YY==1991?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1991"   transform="rotate(125 400 400)" >1991</text>
			<text class="{{YY==1992?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1992"   transform="rotate(120 400 400)" >1992</text>
			<text class="{{YY==1993?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1993"   transform="rotate(115 400 400)" >1993</text>
			<text class="{{YY==1994?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1994"   transform="rotate(110 400 400)" >1994</text>
			<text class="{{YY==1995?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1995"   transform="rotate(105 400 400)" >1995</text>
			<text class="{{YY==1996?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1996"   transform="rotate(100 400 400)" >1996</text>
			<text class="{{YY==1997?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1997"   transform="rotate(95 400 400)" > 1997</text>
			<text class="{{YY==1998?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1998"   transform="rotate(90 400 400)" > 1998</text>	
			<text class="{{YY==1999?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=1999"   transform="rotate(85 400 400)" > 1999</text>    
                
            
                
            <text class="{{YY==2000?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2000"   transform="rotate(80 400 400)" >2000</text>				
			<text class="{{YY==2001?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2001"   transform="rotate(75 400 400)" >2001</text>
			<text class="{{YY==2002?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2002"   transform="rotate(70 400 400)" >2002</text>
			<text class="{{YY==2003?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2003"   transform="rotate(65 400 400)" >2003</text>
			<text class="{{YY==2004?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2004"   transform="rotate(60 400 400)" >2004</text>
			<text class="{{YY==2005?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2005"   transform="rotate(55 400 400)" >2005</text>
			<text class="{{YY==2006?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2006"   transform="rotate(50 400 400)" >2006</text>
			<text class="{{YY==2007?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2007"   transform="rotate(45 400 400)" >2007</text>
			<text class="{{YY==2008?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2008"   transform="rotate(40 400 400)" >2008</text>
			<text class="{{YY==2009?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2009"   transform="rotate(35 400 400)" >2009</text>	
			
			<text class="{{YY==2010?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2010"   transform="rotate(30 400 400)" >2010</text>
			<text class="{{YY==2011?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2011"   transform="rotate(25 400 400)" >2011</text>
			<text class="{{YY==2012?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2012"   transform="rotate(20 400 400)" >2012</text>
			<text class="{{YY==2013?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2013"   transform="rotate(15 400 400)" >2013</text>
			<text class="{{YY==2014?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2014"   transform="rotate(10 400 400)" >2014</text>
			<text class="{{YY==2015?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2015"   transform="rotate(5 400 400)" >2015</text>
			
			<text class="{{YY==2016?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2016"  >2016</text>
			
			<text class="{{YY==2017?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2017"   transform="rotate(-5 400 400)" >2017</text>
			<text class="{{YY==2018?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2018"   transform="rotate(-10 400 400)" >2018</text>
			<text class="{{YY==2019?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2019"   transform="rotate(-15 400 400)" >2019</text>
			<text class="{{YY==2020?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2020"   transform="rotate(-20 400 400)" >2020</text>
			<text class="{{YY==2021?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2021"   transform="rotate(-25 400 400)" >2021</text>
			<text class="{{YY==2022?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2022"   transform="rotate(-30 400 400)" >2022</text>
			<text class="{{YY==2023?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2023"   transform="rotate(-35 400 400)" >2023</text>
			<text class="{{YY==2024?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2024"   transform="rotate(-40 400 400)" >2024</text>
			<text class="{{YY==2025?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2025"   transform="rotate(-45 400 400)" >2025</text>
			<text class="{{YY==2026?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2026"   transform="rotate(-50 400 400)" >2026</text>
			<text class="{{YY==2027?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2027"   transform="rotate(-55 400 400)" >2027</text>
			<text class="{{YY==2028?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2028"   transform="rotate(-60 400 400)" >2028</text>
			<text class="{{YY==2029?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2029"   transform="rotate(-65 400 400)" >2029</text>
			<text class="{{YY==2030?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2030"   transform="rotate(-70 400 400)" >2030</text>
			<text class="{{YY==2031?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2031"   transform="rotate(-75 400 400)" >2031</text>
			<text class="{{YY==2032?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2032"   transform="rotate(-80 400 400)" >2032</text>
			<text class="{{YY==2033?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2033"   transform="rotate(-85 400 400)" >2033</text>
			<text class="{{YY==2034?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2034"   transform="rotate(-90 400 400)" >2034</text>
			<text class="{{YY==2035?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2035"   transform="rotate(-95 400 400)" >2035</text>
			<text class="{{YY==2036?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2036"   transform="rotate(-100 400 400)" >2036</text>
			<text class="{{YY==2037?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2037"   transform="rotate(-105 400 400)" >2037</text>
			<text class="{{YY==2038?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2038"   transform="rotate(-110 400 400)" >2038</text>
			<text class="{{YY==2039?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2039"   transform="rotate(-115 400 400)" >2039</text>
			<text class="{{YY==2040?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2040"   transform="rotate(-120 400 400)" >2040</text>
			
			<text class="{{YY==2041?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2041"   transform="rotate(-125 400 400)" >2041</text>
			<text class="{{YY==2042?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2042"   transform="rotate(-130 400 400)" >2042</text>
			<text class="{{YY==2043?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2043"   transform="rotate(-135 400 400)" >2043</text>
			<text class="{{YY==2044?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2044"   transform="rotate(-140 400 400)" >2044</text>
			<text class="{{YY==2045?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2045"   transform="rotate(-145 400 400)" >2045</text>
			<text class="{{YY==2046?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2046"   transform="rotate(-150 400 400)" >2046</text>
			<text class="{{YY==2047?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2047"   transform="rotate(-155 400 400)" >2047</text>
			<text class="{{YY==2048?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2048"   transform="rotate(-160 400 400)" >2048</text>
			<text class="{{YY==2049?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2049"   transform="rotate(-165 400 400)" >2049</text>
			<text class="{{YY==2050?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2050"   transform="rotate(-170 400 400)" >2050</text>
			<text class="{{YY==2051?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2051"   transform="rotate(-175 400 400)" >2051</text>
			<text class="{{YY==2052?'on_focus':'cls-3'}}" x="740" y="400" ng-click="YY=2052"   transform="rotate(-180 400 400)" >2052</text>
			
            <line x1="400" y1="400" x2="20" y2="400"  transform="rotate(-3.5 400 400)" stroke-width="1" stroke="white"/>
			
		</g>
		<!-- Below is MM Seconds  -->
		
		<g transform = "translate(-52 -52) rotate({{5*(MM>12?MM=12:MM<=1?MM=1:MM) -60}} 452.636 452.636)" ng-mouse-wheel-up="MM=MM+1" ng-mouse-wheel-down="MM=MM-1">
			<path class="MM" d="M440.91,405.42l322.4-28.2A324.5,324.5,0,0,1,626.53,670.53Z" transform="translate(12.64 49.34)"/>
			<path style="fill:#FFFFFF " d="M762.85,377.76a324,324,0,0,1-136.2,292.07l-184.84-264,321-28.09m.91-1.08L440,405,626.41,671.23A325,325,0,0,0,763.76,376.68Z" transform="translate(12.64 49.34)"/>
			
			<text class="{{MM==01?'on_focus':'cls-3'}}" transform="translate(635.43 698.68) rotate(55)" ng-click="MM=01"  >{{!MM_format?"01":"Jan"}}</text>
			<text class="{{MM==02?'on_focus':'cls-3'}}" transform="translate(655.97 681.5) rotate(50)" ng-click="MM=02" >{{!MM_format?"02":"Feb"}}</text>
			<text class="{{MM==03?'on_focus':'cls-3'}}" transform="translate(675.38 662.99) rotate(45)" ng-click="MM=03" >{{!MM_format?"03":"Mar"}}</text>
			<text class="{{MM==04?'on_focus':'cls-3'}}" transform="translate(692.65 642.71) rotate(40)" ng-click="MM=04" >{{!MM_format?"04":"Apr"}}</text>
			<text class="{{MM==05?'on_focus':'cls-3'}}" transform="translate(708.17 621.1) rotate(35)" ng-click="MM=05" >{{!MM_format?"05":"May"}}</text>
			<text class="{{MM==06?'on_focus':'cls-3'}}" transform="translate(721.81 598.22) rotate(30)" ng-click="MM=06" >{{!MM_format?"06":"Jun"}}</text>
			<text class="{{MM==07?'on_focus':'cls-3'}}" transform="translate(733.16 574.49) rotate(25)" ng-click="MM=07" >{{!MM_format?"07":"Jul"}}</text>
			<text class="{{MM==08?'on_focus':'cls-3'}}" transform="translate(742.64 549.24) rotate(20)" ng-click="MM=08" >{{!MM_format?"08":"Aug"}}</text>
			<text class="{{MM==09?'on_focus':'cls-3'}}" transform="matrix(0.97, 0.26, -0.26, 0.97, 749.86, 523.66)" ng-click="MM=09" >{{!MM_format?"09":"Sep"}}</text>
			<text class="{{MM==10?'on_focus':'cls-3'}}" transform="translate(754.74 497.49) rotate(10)" ng-click="MM=10" >{{!MM_format?"10":"Oct"}}</text>
			<text class="{{MM==11?'on_focus':'cls-3'}}" transform="translate(757.27 470.96) rotate(5)" ng-click="MM=11" >{{!MM_format?"11":"Nov"}}</text>
			<text class="{{MM==12?'on_focus':'cls-3'}}" transform="translate(758.64 444.34)" ng-click="MM=12" >{{!MM_format?"12":"Dec"}}</text>
		</g>
		
		<!-- Below is DD Seconds  -->
		
		<g transform = "translate(-20 -20) rotate({{(DD>31?DD=31:DD<=1?DD=1:DD)*5-141}} 424.264 424.264)" ng-mouse-wheel-up="DD=DD+1" ng-mouse-wheel-down="DD=DD-1">
    
    
        
          <path class="DD" d="M439,724.91a301,301,0,0,1-112.92-21.78,294.6,294.6,0,0,1-98.5-65l211.7-211.7L720.61,324a299.94,299.94,0,0,1-69.83,313.74,294.64,294.64,0,0,1-98.85,65.35A301,301,0,0,1,439,724.91Z" transform="translate(-14.74 -1.74)"/>
          <path style="fill:#FFFFFF " d="M720.31,324.67a299.44,299.44,0,0,1-69.88,312.75,294.14,294.14,0,0,1-98.69,65.24,303.09,303.09,0,0,1-225.48,0,294.1,294.1,0,0,1-98-64.53L439.55,426.86,720.31,324.67m.6-1.28L439,426,226.87,638.13C285.06,696.32,362,725.41,439,725.41s153.95-29.09,212.13-87.28a300.44,300.44,0,0,0,69.77-314.74Z" transform="translate(-14.74 -1.74)"/>
        
        <rect class="cls-2" x="139" y="126" width="600" height="600" transform="translate(-187.38 433.46) rotate(-45)"/>
      
    <text class="{{DD==01?'on_focus':'cls-3'}}" transform="matrix(-0.71, 0.71, -0.71, -0.71, 233.03, 629.84)" ng-click="DD=01" >01</text>
    <text class="{{DD==02?'on_focus':'cls-3'}}" transform="translate(251.38 645.32) rotate(130)" ng-click="DD=02" >02</text>
    <text class="{{DD==03?'on_focus':'cls-3'}}" transform="translate(271.46 659.83) rotate(125)" ng-click="DD=03">03</text>
    <text class="{{DD==04?'on_focus':'cls-3'}}" transform="translate(292.44 671.9) rotate(120)" ng-click="DD=04" >04</text>
    <text class="{{DD==05?'on_focus':'cls-3'}}" transform="translate(314.75 682.73) rotate(115)" ng-click="DD=05" >05</text>
    <text class="{{DD==06?'on_focus':'cls-3'}}" transform="translate(337.72 691.17) rotate(110)" ng-click="DD=06" >06</text>
    <text class="{{DD==07?'on_focus':'cls-3'}}" transform="matrix(-0.26, 0.97, -0.97, -0.26, 361.29, 697.84)" ng-click="DD=07" >07</text>
    <text class="{{DD==08?'on_focus':'cls-3'}}" transform="translate(385.49 701.98) rotate(100)" ng-click="DD=08" >08</text>
    <text class="{{DD==09?'on_focus':'cls-3'}}" transform="translate(409.78 704.51) rotate(95)" ng-click="DD=09" >09</text>
    <text class="{{DD==10?'on_focus':'cls-3'}}" transform="translate(434.35 704.7) rotate(90)" ng-click="DD=10"   >10</text>
    <text class="{{DD==11?'on_focus':'cls-3'}}" transform="matrix(0.09, 1, -1, 0.09, 458.67, 702.92)" ng-click="DD=11" ><tspan class="cls-4">1</tspan><tspan x="6.01" y="0">1</tspan></text>
    <text class="{{DD==12?'on_focus':'cls-3'}}" transform="translate(483.87 698.63) rotate(80)" ng-click="DD=12" >12</text>
    <text class="{{DD==13?'on_focus':'cls-3'}}" transform="translate(506.45 692.09) rotate(75)" ng-click="DD=13" >13</text>
    <text class="{{DD==14?'on_focus':'cls-3'}}" transform="translate(529.62 684.42) rotate(70)" ng-click="DD=14" >14</text>
    <text class="{{DD==15?'on_focus':'cls-3'}}" transform="translate(551.88 674.31) rotate(65)" ng-click="DD=15" >15</text>
    <text class="{{DD==16?'on_focus':'cls-3'}}" transform="translate(573.23 662.16) rotate(60)" ng-click="DD=16" >16</text>
    <text class="{{DD==17?'on_focus':'cls-3'}}" transform="translate(593.91 647.97) rotate(55)" ng-click="DD=17" >17</text>
    <text class="{{DD==18?'on_focus':'cls-3'}}" transform="translate(612.12 632.69) rotate(50)" ng-click="DD=18" >18</text>
    <text class="{{DD==19?'on_focus':'cls-3'}}" transform="matrix(0.71, 0.71, -0.71, 0.71, 629.61, 615.52)" ng-click="DD=19" >19</text>
    <text class="{{DD==20?'on_focus':'cls-3'}}" transform="translate(645.52 596.9) rotate(40)" ng-click="DD=20" >20</text>
    <text class="{{DD==21?'on_focus':'cls-3'}}" transform="translate(659.83 577.07) rotate(35)" ng-click="DD=21">21</text>
    <text class="{{DD==22?'on_focus':'cls-3'}}" transform="translate(672.07 555.8) rotate(30)" ng-click="DD=22" >22</text>
    <text class="{{DD==23?'on_focus':'cls-3'}}" transform="translate(682.73 533.79) rotate(25)" ng-click="DD=23" >23</text>
    <text class="{{DD==24?'on_focus':'cls-3'}}" transform="translate(691.08 510.72) rotate(20)" ng-click="DD=24" >24</text>
    <text class="{{DD==25?'on_focus':'cls-3'}}" transform="matrix(0.97, 0.26, -0.26, 0.97, 697.84, 487.25)" ng-click="DD=25" >25</text>
    <text class="{{DD==26?'on_focus':'cls-3'}}" transform="translate(702.21 463.47) rotate(10)" ng-click="DD=26" >26</text>
    <text class="{{DD==27?'on_focus':'cls-3'}}" transform="translate(704 438.7) rotate(5)" ng-click="DD=27" >27</text>
    <text class="{{DD==28?'on_focus':'cls-3'}}" transform="translate(704.26 414.26)" ng-click="DD=28" >28</text>
    <text class="{{DD==29?'on_focus':'cls-3'}}" transform="translate(702.32 389.82) rotate(-5)" ng-click="DD=29">29</text>
    <text class="{{DD==30?'on_focus':'cls-3'}}" transform="translate(698.82 365.71) rotate(-10)" ng-click="DD=30" >30</text>
    <text class="{{DD==31?'on_focus':'cls-3'}}" transform="matrix(0.97, -0.26, 0.26, 0.97, 692.49, 342.08)" ng-click="DD=31" >31</text>
  </g>
		
		
		<!-- Below is HH Seconds  -->
	
		<g transform = "translate(48 50) rotate({{10-((HH>23?HH=23:HH<0?HH=0:HH)-8)*5}} 352.474 352.474)" ng-mouse-wheel-up="(HR_FORMAT_24 ||(!HR_FORMAT_24&&HH<12))?HH=HH+1:HH=12" ng-mouse-wheel-down="HH=HH-1">
		
		
        
        <path class="HH" d="M263.18,636a274.88,274.88,0,0,1-81.12-116.07c-24.91-68.44-21.48-142.9,9.65-209.67,31.06-66.62,85.71-117,153.94-142L439.43,425.9Z" transform="translate(-87.53 -73.53)"/>
        <path style="fill:#FFFFFF" d="M345.34,168.87,438.86,425.8,263.12,635.26a274.38,274.38,0,0,1-80.59-115.54,269.55,269.55,0,0,1-16-107.23,277.75,277.75,0,0,1,87.32-187.27,269.53,269.53,0,0,1,91.46-56.35m.6-1.28C204.18,219.19,130,378.3,181.59,520.06a275,275,0,0,0,81.65,116.61L440,426,345.94,167.59Z" transform="translate(-87.53 -73.53)" />
      
    
    <text class="{{HH==00?'on_focus':'cls-3'}}" transform="translate(171.67 552.42) rotate(-50)" ng-click="HH=00"  >00</text>
    <text class="{{HH==01?'on_focus':'cls-3'}}" transform="translate(154.54 536.32) rotate(-45)" ng-click="HH=01" >01</text>
    <text class="{{HH==02?'on_focus':'cls-3'}}" transform="translate(139.32 518.21) rotate(-40)" ng-click="HH=02" >02</text>
    <text class="{{HH==03?'on_focus':'cls-3'}}" transform="translate(125.58 499.11) rotate(-35)" ng-click="HH=03" >03</text>
    <text class="{{HH==04?'on_focus':'cls-3'}}" transform="translate(113.82 478.77) rotate(-30)" ng-click="HH=04" >04</text>
    <text class="{{HH==05?'on_focus':'cls-3'}}" transform="translate(103.57 457.52) rotate(-25)" ng-click="HH=05" >05</text>
    <text class="{{HH==06?'on_focus':'cls-3'}}" transform="translate(95.32 435.41) rotate(-20)" ng-click="HH=06"  >06</text>
    <text class="{{HH==07?'on_focus':'cls-3'}}" transform="matrix(0.97, -0.26, 0.26, 0.97, 89.27, 412.68)" ng-click="HH=07" >07</text>
    <text class="{{HH==08?'on_focus':'cls-3'}}" transform="translate(84.87 389.51) rotate(-10)" ng-click="HH=08" >08</text>
    <text class="{{HH==09?'on_focus':'cls-3'}}" transform="translate(82.78 365.96) rotate(-5)" ng-click="HH=09"  >09</text>
    <text class="{{HH==10?'on_focus':'cls-3'}}" transform="translate(82.47 342.47)" ng-click="HH=10" >10</text>
    <text class="{{HH==11?'on_focus':'cls-3'}}" transform="translate(84.3 318.98) rotate(5)" ng-click="HH=11" ><tspan class="cls-4">1</tspan><tspan x="6.01" y="0">1</tspan></text>
    <text class="{{HH==12?'on_focus':'cls-3'}}" transform="translate(88.31 295.77) rotate(10)" ng-click="HH=12" >12</text>
    <text class="{{HH==13?'on_focus':'cls-3'}}" transform="matrix(0.97, 0.26, -0.26, 0.97, 94.28, 272.98)" ng-click="HH=13">{{!HR_FORMAT_24?"":"13"}}</text>
    <text class="{{HH==14?'on_focus':'cls-3'}}" transform="translate(102.42 250.45) rotate(20)" ng-click="HH=14" >{{!HR_FORMAT_24?"":"14"}}</text>
    <text class="{{HH==15?'on_focus':'cls-3'}}" transform="translate(112 229.34) rotate(25)" ng-click="HH=15" >{{!HR_FORMAT_24?"":"15"}}</text>
    <text class="{{HH==16?'on_focus':'cls-3'}}" transform="translate(123.82 208.93) rotate(30)" ng-click="HH=16" >{{!HR_FORMAT_24?"":"16"}}</text>
    <text class="{{HH==17?'on_focus':'cls-3'}}" transform="translate(136.99 189.43) rotate(35)" ng-click="HH=17" >{{!HR_FORMAT_24?"":"17"}}</text>
    <text class="{{HH==18?'on_focus':'cls-3'}}" transform="translate(152.14 171.34) rotate(40)" ng-click="HH=18" >{{!HR_FORMAT_24?"":"18"}}</text>
    <text class="{{HH==19?'on_focus':'cls-3'}}" transform="translate(168.63 154.53) rotate(45)" ng-click="HH=19" >{{!HR_FORMAT_24?"":"19"}}</text>
    <text class="{{HH==20?'on_focus':'cls-3'}}" transform="translate(186.73 139.32) rotate(50)" ng-click="HH=20" >{{!HR_FORMAT_24?"":"20"}}</text>
    <text class="{{HH==21?'on_focus':'cls-3'}}" transform="translate(205.84 125.58) rotate(55)" ng-click="HH=21" >{{!HR_FORMAT_24?"":"21"}}</text>
    <text class="{{HH==22?'on_focus':'cls-3'}}" transform="translate(226.18 113.82) rotate(60)" ng-click="HH=22" >{{!HR_FORMAT_24?"":"22"}}</text>
    <text class="{{HH==23?'on_focus':'cls-3'}}" transform="translate(247.43 103.58) rotate(65)" ng-click="HH=23" >{{!HR_FORMAT_24?"":"23"}}</text>

		
		</g>
	
		<!-- Below is MM_T Seconds  -->
		
		<g transform = "translate(60 60) rotate({{-((MM_T>59?(MM_T=59):MM_T<0?(MM_T=0):MM_T)*5)+0}} 341.51 341.51)" ng-mouse-wheel-up="MM_T=MM_T+1" ng-mouse-wheel-down="MM_T=MM_T-1">
		
		     
        
          <path class="MM_T" d="M439,675.16a247.77,247.77,0,0,1-123.3-32.84L440.87,425.5H190.5a249.82,249.82,0,0,1,33.43-124.25C268.23,224.51,351.42,176.84,441,176.84a247.77,247.77,0,0,1,123.74,33.09c57.33,33.1,98.44,86.95,115.77,151.63s8.65,131.87-24.45,189.2C611.77,627.49,528.58,675.16,439,675.16Z" transform="translate(-98.49 -84.49)" />
          <path style="fill:#FFFFFF " d="M441,177.34a246.44,246.44,0,0,1,197.22,98.35,252.41,252.41,0,0,1,48.6,181.37A246.44,246.44,0,0,1,562.48,642.39,253,253,0,0,1,439,674.66a247.27,247.27,0,0,1-122.62-32.52L440.87,426.5l.87-1.5H191A247.71,247.71,0,0,1,317.52,209.61,253.1,253.1,0,0,1,441,177.34h0m0-1c-86.68,0-171.44,44.84-217.52,124.66A250,250,0,0,0,190,426H440L315,642.51a247.24,247.24,0,0,0,124,33.16c86.68,0,171.44-44.84,217.52-124.66,68.57-118.77,27.27-272.93-91.5-341.51a247.22,247.22,0,0,0-124-33.16Z" transform="translate(-98.49 -84.49)" />
        
        <rect class="cls-2" x="190" y="176" width="500" height="500" transform="translate(-247.43 509.52) rotate(-60)"/>
     
      <text class="{{MM_T==00?'on_focus':'cls-3'}}" transform="translate(96.48 331.54)" ng-click="MM_T=00" >00</text>
       <text class="{{MM_T==01?'on_focus':'cls-3'}}" transform="translate(98.29 310.16) rotate(5)" ng-click="MM_T=01" >01</text>
        <text class="{{MM_T==02?'on_focus':'cls-3'}}" transform="translate(101.95 289.19) rotate(10)" ng-click="MM_T=02" >02</text>
        <text class="{{MM_T==03?'on_focus':'cls-3'}}" transform="translate(107.43 268.46) rotate(15)" ng-click="MM_T=03" >03</text>
        <text class="{{MM_T==04?'on_focus':'cls-3'}}" transform="translate(114.67 248.35) rotate(20)" ng-click="MM_T=04" >04</text>
        <text class="{{MM_T==05?'on_focus':'cls-3'}}" transform="translate(123.6 228.76) rotate(25)" ng-click="MM_T=05"  >05</text>
        <text class="{{MM_T==06?'on_focus':'cls-3'}}" transform="translate(134.49 210.39) rotate(30)" ng-click="MM_T=06" >06</text>
        <text class="{{MM_T==07?'on_focus':'cls-3'}}" transform="translate(146.67 192.87) rotate(35)" ng-click="MM_T=07" >07</text>
        <text class="{{MM_T==08?'on_focus':'cls-3'}}" transform="translate(160.4 176.47) rotate(40)" ng-click="MM_T=08"  >08</text>
        <text class="{{MM_T==09?'on_focus':'cls-3'}}" transform="matrix(0.71, 0.71, -0.71, 0.71, 175.33, 161.17)" ng-click="MM_T=09" >09</text>
        <text class="{{MM_T==10?'on_focus':'cls-3'}}" transform="translate(191.85 147.44) rotate(50)" ng-click="MM_T=10" >10</text>
        <text class="{{MM_T==11?'on_focus':'cls-3'}}" transform="matrix(0.57, 0.82, -0.82, 0.57, 209.2, 135.2)" ng-click="MM_T=11" ><tspan class="cls-4">1</tspan><tspan x="6.01" y="0">1</tspan></text>
        <text class="{{MM_T==12?'on_focus':'cls-3'}}" transform="translate(227.69 124.39) rotate(60)" ng-click="MM_T=12" >12</text>
        <text class="{{MM_T==13?'on_focus':'cls-3'}}" transform="translate(247.12 115.34) rotate(65)" ng-click="MM_T=13" >13</text>
        <text class="{{MM_T==14?'on_focus':'cls-3'}}" transform="translate(267.11 107.79) rotate(70)" ng-click="MM_T=14" >14</text>
        <text class="{{MM_T==15?'on_focus':'cls-3'}}" transform="matrix(0.26, 0.97, -0.97, 0.26, 287.74, 102.31)" ng-click="MM_T=15" >15</text>
        <text class="{{MM_T==16?'on_focus':'cls-3'}}" transform="matrix(0.17, 0.98, -0.98, 0.17, 308.81, 98.61)" ng-click="MM_T=16"  >16</text>
        <text class="{{MM_T==17?'on_focus':'cls-3'}}" transform="matrix(0.09, 1, -1, 0.09, 330.09, 96.45)" ng-click="MM_T=17" >17</text>
        <text class="{{MM_T==18?'on_focus':'cls-3'}}" transform="translate(351.63 96.41) rotate(90)" ng-click="MM_T=18" >18</text>
        <text class="{{MM_T==19?'on_focus':'cls-3'}}" transform="translate(372.56 98.32) rotate(95)" ng-click="MM_T=19" >19</text>
        <text class="{{MM_T==20?'on_focus':'cls-3'}}" transform="translate(393.49 102.04) rotate(100)" ng-click="MM_T=20" >20</text>
        <text class="{{MM_T==21?'on_focus':'cls-3'}}" transform="translate(414.58 107.37) rotate(105)" ng-click="MM_T=21" >21</text>
        <text class="{{MM_T==22?'on_focus':'cls-3'}}" transform="translate(434.67 114.71) rotate(110)" ng-click="MM_T=22" >22</text>
        <text class="{{MM_T==23?'on_focus':'cls-3'}}" transform="translate(454.12 123.73) rotate(115)" ng-click="MM_T=23" >23</text>
        <text class="{{MM_T==24?'on_focus':'cls-3'}}" transform="translate(472.7 134.47) rotate(120)" ng-click="MM_T=24"  >24</text>
        <text class="{{MM_T==25?'on_focus':'cls-3'}}" transform="translate(490.2 146.62) rotate(125)" ng-click="MM_T=25"  >25</text>
        <text class="{{MM_T==26?'on_focus':'cls-3'}}" transform="translate(506.73 160.32) rotate(130)" ng-click="MM_T=26" >26</text>
        <text class="{{MM_T==27?'on_focus':'cls-3'}}" transform="matrix(-0.71, 0.71, -0.71, -0.71, 521.51, 175.06)" ng-click="MM_T=27" >27</text>
        <text class="{{MM_T==28?'on_focus':'cls-3'}}" transform="translate(535.36 191.49) rotate(140)" ng-click="MM_T=28" >28</text>
        <text class="{{MM_T==29?'on_focus':'cls-3'}}" transform="matrix(-0.82, 0.57, -0.57, -0.82, 547.85, 209.18)" ng-click="MM_T=29" >29</text>
        <text class="{{MM_T==30?'on_focus':'cls-3'}}" transform="translate(558.51 227.77) rotate(150)" ng-click="MM_T=30" >30</text>
        <text class="{{MM_T==31?'on_focus':'cls-3'}}" transform="translate(567.63 247.1) rotate(155)" ng-click="MM_T=31" >31</text>
        <text class="{{MM_T==32?'on_focus':'cls-3'}}" transform="translate(574.97 267.21) rotate(160)" ng-click="MM_T=32" >32</text>
        <text class="{{MM_T==33?'on_focus':'cls-3'}}" transform="matrix(-0.97, 0.26, -0.26, -0.97, 580.76, 287.72)" ng-click="MM_T=33" >33</text>
        <text class="{{MM_T==34?'on_focus':'cls-3'}}" transform="matrix(-0.98, 0.17, -0.17, -0.98, 584.48, 308.8)" ng-click="MM_T=34" >34</text>
        <text class="{{MM_T==35?'on_focus':'cls-3'}}" transform="matrix(-1, 0.09, -0.09, -1, 586.44, 330.1)" ng-click="MM_T=35" >35</text>
        <text class="{{MM_T==36?'on_focus':'cls-3'}}" transform="translate(586.36 351.48) rotate(-180)" ng-click="MM_T=36" >36</text>
        <text class="{{MM_T==37?'on_focus':'cls-3'}}" transform="translate(584.52 372.54) rotate(-175)" ng-click="MM_T=37" >37</text>
        <text class="{{MM_T==38?'on_focus':'cls-3'}}" transform="translate(581.12 393.53) rotate(-170)" ng-click="MM_T=38" >38</text>
        <text class="{{MM_T==39?'on_focus':'cls-3'}}" transform="translate(575.71 414.02) rotate(-165)" ng-click="MM_T=39" >39</text>
        <text class="{{MM_T==40?'on_focus':'cls-3'}}" transform="translate(568.36 434.68) rotate(-160)" ng-click="MM_T=40" >40</text>
        <text class="{{MM_T==41?'on_focus':'cls-3'}}" transform="translate(559.42 454.26) rotate(-155)" ng-click="MM_T=41" >41</text>
        <text class="{{MM_T==42?'on_focus':'cls-3'}}" transform="translate(548.7 472.35) rotate(-150)" ng-click="MM_T=42"  >42</text>
        <text class="{{MM_T==43?'on_focus':'cls-3'}}" transform="translate(536.5 489.89) rotate(-145)" ng-click="MM_T=43"  >43</text>
        <text class="{{MM_T==44?'on_focus':'cls-3'}}" transform="translate(522.58 506.52) rotate(-140)" ng-click="MM_T=44" >44</text>
        <text class="{{MM_T==45?'on_focus':'cls-3'}}" transform="matrix(-0.71, -0.71, 0.71, -0.71, 507.92, 521.63)" ng-click="MM_T=45" >45</text>
        <text class="{{MM_T==46?'on_focus':'cls-3'}}" transform="translate(491.46 535.43) rotate(-130)" ng-click="MM_T=46" >46</text>
        <text class="{{MM_T==47?'on_focus':'cls-3'}}" transform="matrix(-0.57, -0.82, 0.82, -0.57, 473.84, 547.86)" ng-click="MM_T=47" >47</text>
        <text class="{{MM_T==48?'on_focus':'cls-3'}}" transform="translate(455.33 558.64) rotate(-120)" ng-click="MM_T=48" >48</text>
        <text class="{{MM_T==49?'on_focus':'cls-3'}}" transform="translate(435.92 567.68) rotate(-115)" ng-click="MM_T=49" >49</text>
        <text class="{{MM_T==50?'on_focus':'cls-3'}}" transform="translate(415.87 575.12) rotate(-110)" ng-click="MM_T=50" >50</text>
      <text class="{{MM_T==51?'on_focus':'cls-3'}}" transform="matrix(-0.26, -0.97, 0.97, -0.26, 395.26, 580.59)" ng-click="MM_T=51" >51</text>
      <text class="{{MM_T==52?'on_focus':'cls-3'}}" transform="matrix(-0.17, -0.98, 0.98, -0.17, 374.5, 584.25)" ng-click="MM_T=52"  >52</text>
      <text class="{{MM_T==53?'on_focus':'cls-3'}}" transform="matrix(-0.09, -1, 1, -0.09, 352.91, 586.24)" ng-click="MM_T=53" >53</text>
      <text class="{{MM_T==54?'on_focus':'cls-3'}}" transform="translate(331.47 586.24) rotate(-90)" ng-click="MM_T=54" >54</text>
      <text class="{{MM_T==55?'on_focus':'cls-3'}}" transform="translate(310.19 584.28) rotate(-85)" ng-click="MM_T=55" >55</text>
      <text class="{{MM_T==56?'on_focus':'cls-3'}}" transform="translate(289.2 581.08) rotate(-80)" ng-click="MM_T=56"  >56</text>
      <text class="{{MM_T==57?'on_focus':'cls-3'}}" transform="translate(268.45 575.59) rotate(-75)" ng-click="MM_T=57" >57</text>
      <text class="{{MM_T==58?'on_focus':'cls-3'}}" transform="translate(248.39 568.25) rotate(-70)" ng-click="MM_T=58" >58</text>
      <text class="{{MM_T==59?'on_focus':'cls-3'}}" transform="translate(228.99 559.26) rotate(-65)" ng-click="MM_T=59" >59</text>
    
  
	</g>
		
				
		<!-- Below is SS Seconds  -->



<g transform = "translate(160 160) rotate({{-((SS>59?(SS=59):SS<0?(SS=0):SS)*5)+296}} 239.25 239.25)"  ng-mouse-wheel-up="SS=SS+1" ng-mouse-wheel-down="SS=SS-1" >
  
    
    <path class="SS" d="M402.88,624.53c-6.46,0-13-.29-19.46-.85-59.34-5.2-113.34-33.48-152.07-79.63s-57.09-103.93-52-163.09l224.51,19.66L308.59,196.35A226,226,0,0,1,403,175.54c6.51,0,13.1.29,19.58.86,59.34,5.2,113.34,33.48,152.07,79.63s57.19,104.26,52,163.59a223.44,223.44,0,0,1-72.71,146C512.19,603.61,458.55,624.53,402.88,624.53Z" transform="translate(-163.37 -162.1)" />
		 
     
	<path style="fill:#FFFFFF " d="M403,176c6.49,0,13.07.29,19.54.85a220.36,220.36,0,0,1,85,25.23A227.06,227.06,0,0,1,616.07,331.52a220.36,220.36,0,0,1,10.08,88.05A223,223,0,0,1,553.6,565.26C512,603.16,458.42,624,402.88,624c-6.44,0-13-.29-19.42-.85a220.36,220.36,0,0,1-85-25.23A227.07,227.07,0,0,1,189.93,468.55a220.33,220.33,0,0,1-10.16-87.06L402.91,401l1.73.15-.73-1.57-94.65-203A225.53,225.53,0,0,1,403,176m0-1a225,225,0,0,0-95.08,21.07L403,400,178.86,380.41c-10.77,123,81.56,233,204.52,243.77q9.82.86,19.51.85c114.88,0,214.07-89,224.26-205.37,10.77-123-81.56-233-204.52-243.77Q412.81,175,403,175Z" transform="translate(-163.37 -162.1)" />
	
  
    <rect class="cls-2" x="177.6" y="176.33" width="450" height="450" transform="translate(-187.57 614.73) rotate(-86.25)"/>
    <text class="{{SS==00?'on_focus':'cls-3'}}" transform="translate(150.75 37.28) rotate(63.75)" ng-click="SS=00" >00</text>
    <text class="{{SS==01?'on_focus':'cls-3'}}" transform="translate(168.82 30.59) rotate(68.75)" ng-click="SS=01" >01</text>
    <text class="{{SS==02?'on_focus':'cls-3'}}" transform="translate(187.27 25.3) rotate(73.75)" ng-click="SS=02"  >02</text>
    <text class="{{SS==03?'on_focus':'cls-3'}}" transform="translate(206.2 21.7) rotate(78.75)" ng-click="SS=03"   >03</text>
    <text class="{{SS==04?'on_focus':'cls-3'}}" transform="matrix(0.11, 0.99, -0.99, 0.11, 225.2, 19.39)" ng-click="SS=404" >04</text>
    <text class="{{SS==05?'on_focus':'cls-3'}}" transform="translate(244.35 19.09) rotate(88.75)" ng-click="SS=05" >05</text>
    <text class="{{SS==06?'on_focus':'cls-3'}}" transform="translate(263.58 20.65) rotate(93.75)" ng-click="SS=06" >06</text>
    <text class="{{SS==07?'on_focus':'cls-3'}}" transform="translate(282.54 23.31) rotate(98.75)" ng-click="SS=07" >07</text>
    <text class="{{SS==08?'on_focus':'cls-3'}}" transform="matrix(-0.24, 0.97, -0.97, -0.24, 301.21, 27.82)" ng-click="SS=08" >08</text>
    <text class="{{SS==09?'on_focus':'cls-3'}}" transform="translate(319.39 34.04) rotate(108.75)" ng-click="SS=09" >09</text>
    <text class="{{SS==10?'on_focus':'cls-3'}}" transform="matrix(-0.4, 0.92, -0.92, -0.4, 336.85, 42.28)" ng-click="SS=10" >10</text>
    <text class="{{SS==11?'on_focus':'cls-3'}}" transform="translate(353.75 51.15) rotate(118.75)" ng-click="SS=11" ><tspan class="cls-4">1</tspan><tspan x="6.01" y="0">1</tspan></text>
    <text class="{{SS==12?'on_focus':'cls-3'}}" transform="translate(369.8 61.84) rotate(123.75)" ng-click="SS=12"  >12</text>
    <text class="{{SS==13?'on_focus':'cls-3'}}" transform="matrix(-0.63, 0.78, -0.78, -0.63, 384.72, 73.9)" ng-click="SS=13" >13</text>
    <text class="{{SS==14?'on_focus':'cls-3'}}" transform="translate(398.55 87.23) rotate(133.75)" ng-click="SS=14"  >14</text>
    <text class="{{SS==15?'on_focus':'cls-3'}}" transform="translate(411.26 101.65) rotate(138.75)" ng-click="SS=15" >15</text>
    <text class="{{SS==16?'on_focus':'cls-3'}}" transform="matrix(-0.81, 0.59, -0.59, -0.81, 422.56, 117.2)" ng-click="SS=16" >16</text>
    <text class="{{SS==17?'on_focus':'cls-3'}}" transform="translate(432.48 133.57) rotate(148.75)" ng-click="SS=17" >17</text>
    <text class="{{SS==18?'on_focus':'cls-3'}}" transform="translate(440.94 150.88) rotate(153.75)" ng-click="SS=18" >18</text>
    <text class="{{SS==19?'on_focus':'cls-3'}}" transform="translate(447.88 168.8) rotate(158.75)" ng-click="SS=19"  >19</text>
    <text class="{{SS==20?'on_focus':'cls-3'}}" transform="translate(452.68 187.41) rotate(163.75)" ng-click="SS=20" >20</text>
    <text class="{{SS==21?'on_focus':'cls-3'}}" transform="translate(456.95 206.09) rotate(168.75)" ng-click="SS=21" >21</text>
    <text class="{{SS==22?'on_focus':'cls-3'}}" transform="matrix(-0.99, 0.11, -0.11, -0.99, 459.11, 225.19)" ng-click="SS=22" >22</text>
    <text class="{{SS==23?'on_focus':'cls-3'}}" transform="translate(459.38 244.36) rotate(178.75)" ng-click="SS=23"  >23</text>
    <text class="{{SS==24?'on_focus':'cls-3'}}" transform="translate(458.18 263.59) rotate(-176.25)" ng-click="SS=24" >24</text>
    <text class="{{SS==25?'on_focus':'cls-3'}}" transform="translate(455.2 282.25) rotate(-171.25)" ng-click="SS=25"  >25</text>
    <text class="{{SS==26?'on_focus':'cls-3'}}" transform="matrix(-0.97, -0.24, 0.24, -0.97, 450.6, 301.22)" ng-click="SS=26" >26</text>
    <text class="{{SS==27?'on_focus':'cls-3'}}" transform="translate(444.4 319.41) rotate(-161.25)" ng-click="SS=27" >27</text>
    <text class="{{SS==28?'on_focus':'cls-3'}}" transform="matrix(-0.92, -0.4, 0.4, -0.92, 436.37, 337.34)" ng-click="SS=28" >28</text>
    <text class="{{SS==29?'on_focus':'cls-3'}}" transform="translate(427.32 353.75) rotate(-151.25)" ng-click="SS=29" >29</text>
    <text class="{{SS==30?'on_focus':'cls-3'}}" transform="translate(416.58 369.8) rotate(-146.25)" ng-click="SS=30"  >30</text>
    <text class="{{SS==31?'on_focus':'cls-3'}}" transform="matrix(-0.78, -0.63, 0.63, -0.78, 404.28, 384.51)" ng-click="SS=31" >31</text>
    <text class="{{SS==32?'on_focus':'cls-3'}}" transform="translate(391.24 398.55) rotate(-136.25)" ng-click="SS=32" >32</text>
    <text class="{{SS==33?'on_focus':'cls-3'}}" transform="translate(376.81 411.22) rotate(-131.25)" ng-click="SS=33" >33</text>
    <text class="{{SS==34?'on_focus':'cls-3'}}" transform="matrix(-0.59, -0.81, 0.81, -0.59, 361.25, 422.57)" ng-click="SS=34" >34</text>
    <text class="{{SS==35?'on_focus':'cls-3'}}" transform="translate(344.89 432.49) rotate(-121.25)" ng-click="SS=35" >35</text>
    <text class="{{SS==36?'on_focus':'cls-3'}}" transform="translate(327.58 440.94) rotate(-116.25)" ng-click="SS=36" >36</text>
    <text class="{{SS==37?'on_focus':'cls-3'}}" transform="translate(309.67 447.88) rotate(-111.25)" ng-click="SS=37" >37</text>
    <text class="{{SS==38?'on_focus':'cls-3'}}" transform="translate(291.2 453.17) rotate(-106.25)" ng-click="SS=38"  >38</text>
    <text class="{{SS==39?'on_focus':'cls-3'}}" transform="translate(272.3 457.05) rotate(-101.25)" ng-click="SS=39"  >39</text>
    <text class="{{SS==40?'on_focus':'cls-3'}}" transform="matrix(-0.11, -0.99, 0.99, -0.11, 253.27, 459.07)" ng-click="SS=40" >40</text>
    <text class="{{SS==41?'on_focus':'cls-3'}}" transform="translate(234.11 459.37) rotate(-91.25)" ng-click="SS=41" >41</text>
    <text class="{{SS==42?'on_focus':'cls-3'}}" transform="translate(214.89 457.88) rotate(-86.25)" ng-click="SS=42" >42</text>
    <text class="{{SS==43?'on_focus':'cls-3'}}" transform="translate(195.9 455.15) rotate(-81.25)" ng-click="SS=43"  >43</text>
    <text class="{{SS==44?'on_focus':'cls-3'}}" transform="matrix(0.24, -0.97, 0.97, 0.24, 177.26, 450.61)" ng-click="SS=44" >44</text>
    <text class="{{SS==45?'on_focus':'cls-3'}}" transform="translate(159.07 444.36) rotate(-71.25)" ng-click="SS=45" >45</text>
    <text class="{{SS==46?'on_focus':'cls-3'}}" transform="matrix(0.4, -0.92, 0.92, 0.4, 141.47, 436.52)" ng-click="SS=46" >46</text>
    <text class="{{SS==47?'on_focus':'cls-3'}}" transform="translate(124.72 427.33) rotate(-61.25)" ng-click="SS=47" >47</text>
    <text class="{{SS==48?'on_focus':'cls-3'}}" transform="translate(108.67 416.58) rotate(-56.25)" ng-click="SS=48" >48</text>
    <text class="{{SS==49?'on_focus':'cls-3'}}" transform="matrix(0.63, -0.78, 0.78, 0.63, 93.97, 404.29)" ng-click="SS=49" >49</text>
    <text class="{{SS==50?'on_focus':'cls-3'}}" transform="translate(79.92 391.25) rotate(-46.25)" ng-click="SS=50" >50</text>
    <text class="{{SS==51?'on_focus':'cls-3'}}" transform="translate(67.5 376.56) rotate(-41.25)" ng-click="SS=51"  >51</text>
    <text class="{{SS==52?'on_focus':'cls-3'}}" transform="matrix(0.81, -0.59, 0.59, 0.81, 55.9, 361.25)" ng-click="SS=52" >52</text>
    <text class="{{SS==53?'on_focus':'cls-3'}}" transform="translate(45.97 344.88) rotate(-31.25)" ng-click="SS=53" >53</text>
    <text class="{{SS==54?'on_focus':'cls-3'}}" transform="translate(37.46 327.62) rotate(-26.25)" ng-click="SS=54" >54</text>
    <text class="{{SS==55?'on_focus':'cls-3'}}" transform="translate(30.49 309.69) rotate(-21.25)" ng-click="SS=55" >55</text>
    <text class="{{SS==56?'on_focus':'cls-3'}}" transform="translate(25.29 291.2) rotate(-16.25)" ng-click="SS=56"  >56</text>
    <text class="{{SS==57?'on_focus':'cls-3'}}" transform="translate(21.52 272.38) rotate(-11.25)" ng-click="SS=57" >57</text>
    <text class="{{SS==58?'on_focus':'cls-3'}}" transform="matrix(0.99, -0.11, 0.11, 0.99, 19.39, 253.27)" ng-click="SS=58" >58</text>
    <text class="{{SS==59?'on_focus':'cls-3'}}" transform="translate(19.08 235.39) rotate(-1.25)" ng-click="SS=59" >59</text>
	
	
  
  </g>
		
      
	  
	  <g> 
         <circle cx="400" cy="400" r="200"  style="fill:url(#grad2);stroke-width:1;stroke:white" /> 
		 
		<!-- <text x="360" y="370" fill="#666666" font-family="Verdana" font-size="35">:</text>
		 <text x="430" y="370" fill="#666666" font-family="Verdana" font-size="35">:</text> -->
		 
		 <text x="460" y="370" fill="#666666" font-family="Verdana" font-size="20">SS</text>
		 <text x="388" y="370" fill="#666666" font-family="Verdana" font-size="20">MM</text>
		 <text x="320" y="370" fill="#666666" font-family="Verdana" font-size="20">HH</text>
		 
		 
		 <text x="360" y="400" fill="#666666" font-family="Verdana" font-size="35">:</text>
		 <text x="430" y="400" fill="#666666" font-family="Verdana" font-size="35">:</text>

		
		<foreignObject  x="302" y="280" width="80" height="300"  >
          	<input type="radio"  ng-model="HR_FORMAT_24" ng-value=false >12HR</input>
		</foreignObject>
		<foreignObject  x="402" y="280" width="80" height="300"  >
          	<input type="radio"  ng-model="HR_FORMAT_24" ng-value=true >24HR</input>
		</foreignObject>

		<foreignObject  x="302" y="310" width="80" height="300"  >
          	<input type="radio"  ng-model="MM_format" ng-value=false >MM</input>
		</foreignObject>
		<foreignObject  x="402" y="310" width="80" height="300"  >
          	<input type="radio"  ng-model="MM_format" ng-value=true >MMM</input>
		</foreignObject>
		
		
		<foreignObject  x="302" y="380" width="30" height="300"  >
          	<input type="number"  ng-model="HH" min="0" max="{{HR_FORMAT_24?23:12}}" ng-init="HH=0">
		</foreignObject> 
		<foreignObject  x="372" y="380" width="30" height="300"  >
			<input type="number"  ng-model="MM_T" min="0" max="59" ng-init="MM_T=0" > 
		</foreignObject> 
		<foreignObject  x="442" y="380" width="30" height="300" >
				 <input type="number"  ng-model="SS" min="0" max="59" ng-init="SS=0"> 
		</foreignObject>
		<foreignObject  x="300" y="420" width="30" height="300" >
				<input type="number" ng-model="DD" min="0" max="31" ng-init="DD=0" > 
		</foreignObject>
		<foreignObject  x="372" y="420" width="30" height="300" >
		<input type="number" ng-model="MM" min="0" max="12" ng-init="MM=0"> 
		</foreignObject> 
		<foreignObject  x="442" y="420" width="30" height="300" >
				<input type="number" ng-model="YY" min="1980" max="2050" ng-init="YY=2016"> 
		</foreignObject> 
		
		<foreignObject  x="360" y="500" width="80" height="50" >
		<button type="button" ng-click="getDate()">Time Machine Now !</button>
		</foreignObject>
		
		<!--<foreignObject  x="320" y="240" width="100" height="100" >
		<img src="Siemens_new.jpg" alt="Logo" height="110" width="180">
		</foreignObject> -->
		
		<!-- <foreignObject  x="-200" y="-200" width="800" height="800" >
		<img src="lay1.png" alt="Smiley face" height="1200" width="1200">
		</foreignObject> -->
		
		
		<!--<foreignObject  x="600" y="600" width="30" height="300" >
		<h1 ng-if="SS">{{SS}}Stop Messing with my Code</h1>
		</foreignObject> -->
		
		<!-- <text x="450" y="400" fill="#FFFFFF" font-family="Verdana" font-size="35">{{SS}}</text>
		</foreignObject> 
		<text x="380" y="400" fill="#FFFFFF" font-family="Verdana" font-size="35">{{MM_T}}</text>
		</foreignObject> 
		<text x="310" y="400" fill="#FFFFFF" font-family="Verdana" font-size="35">{{HH}}</text> -->
	
		 
		 
		 <text x="360" y="440" fill="#666666" font-family="Verdana" font-size="35">:</text>
		 <text x="430" y="440" fill="#666666" font-family="Verdana" font-size="35">:</text>
		 
		 <!--<text x="310" y="450" contentEditable="true" fill="#FFFFFF" font-family="Verdana" font-size="35">{{DD}}</text>
		 <text x="380" y="450" fill="#FFFFFF" font-family="Verdana" font-size="35">{{MM}}</text>
		 <text x="450" y="450" fill="#FFFFFF" font-family="Verdana" font-size="35">{{YY}}</text> -->
		
		 
		<!-- <text x="360" y="470" fill="#666666" font-family="Verdana" font-size="35">:</text>
		 <text x="430" y="470" fill="#666666" font-family="Verdana" font-size="35">:</text>-->
		 
		 <text x="460" y="470" fill="#666666" font-family="Verdana" font-size="20">YYYY</text>
		 <text x="388" y="470" fill="#666666" font-family="Verdana" font-size="20">MM</text>
		 <text x="320" y="470" fill="#666666" font-family="Verdana" font-size="20">DD</text> 
		 
		 		 
      </g>
	  
	 <circle cx="186" cy="386" r="12" stroke="grey" stroke-width="0.5" fill="none"  /> <!-- SS-->
	   <circle cx="186" cy="386" r="10" stroke="white" stroke-width="1" fill="url(#BUBB)" ng-mouse-wheel-up="SS=SS+1" ng-mouse-wheel-down="SS=SS-1" /> <!-- SS-->
	<!-- <text class="on_focus_2" x="180" y="390"  >{{SS}}</text> -->
	 
	 <circle cx="164" cy="386" r="12" stroke="grey" stroke-width="0.5" fill="none" /> <!-- MM_T-->
	 <circle cx="138" cy="386" r="12" stroke="grey" stroke-width="0.5" fill="none" /> <!-- HH-->
	 <circle cx="691" cy="386" r="12" stroke="grey" stroke-width="0.5" fill="none" /> <!-- DD-->
	 <circle cx="{{MM_format?716:714}}" cy="388" r="{{MM_format?17:12}}" stroke="grey" stroke-width="0.5" fill="none" /> <!-- MM-->
	 <circle cx="752" cy="395" r="22" stroke="grey" stroke-width="0.5" fill="none" /> <!-- YY-->
	  
	
	  <circle cx="164" cy="386" r="10" stroke="white" stroke-width="1" fill="url(#BUBB)" ng-mouse-wheel-up="MM_T=MM_T+1" ng-mouse-wheel-down="MM_T=MM_T-1" /> <!-- MM_T-->
	  <circle cx="138" cy="386" r="10" stroke="white" stroke-width="1" fill="url(#BUBB)" ng-mouse-wheel-up="HH=HH+1" ng-mouse-wheel-down="HH=HH-1" /> <!-- HH-->
	  
	  <circle cx="691" cy="386" r="10" stroke="white" stroke-width="1" fill="url(#BUBB)" ng-mouse-wheel-up="DD=DD+1" ng-mouse-wheel-down="DD=DD-1" /> <!-- DD-->
	  <circle cx="{{MM_format?716:714}}" cy="388" r="{{MM_format?15:10}}" stroke="white" stroke-width="1" fill="url(#BUBB)" ng-mouse-wheel-up="MM=MM+1" ng-mouse-wheel-down="MM=MM-1" /> <!-- MM-->
	  <circle cx="752" cy="395" r="20" stroke="white" stroke-width="1" fill="url(#BUBB)" ng-mouse-wheel-up="YY=YY+1" ng-mouse-wheel-down="YY=YY-1" /> <!-- YY-->
 
	
	
	</svg>
	<br>
	
	<input type="hidden"  ng-model="weekDay">
	
	
</div>

<a class="bubble-toggle" href="#">Close Date Time Picker</a>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>
</body>
   
</html>